@font-face {
  font-family: "Zilap";
  src:
    url("fonts/woff2/zilap-marine/ZilapMarine-14qM.woff2") format("woff2"),
    url("fonts/woff/zilap-marine/ZilapMarine-14qM.woff") format("woff");
}

@font-face {
  font-family: "Zain";
  src:
    url("fonts/woff2/zain/Zain-Regular.woff2") format("woff2"),
    url("fonts/woff/zain/Zain-Regular.woff") format("woff");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  list-style: none;

  color: #fffcf2;
  text-decoration: none;
  line-height: 1.6;
}

header {
  font-family: "Zilap", sans-serif;
  background-color: hsl(212, 100%, 10%);
  box-shadow: 0 0 10px #000000;
  font-size: 4rem;
  text-align: center;
}

body {
  background-color: #001c3d;
  font-size: 24px;
  font-family: "Zain", sans-serif;
}

main {
  width: fit-content;
  min-width: 680px;
  margin: 20px auto;
  padding: 0 20px 50px 20px;
}

div.banner {
  background-image: url(img/banner.avif);
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: 3px;
}

div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

div.confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003970;
  border: solid 2px #fffcf2;
  padding: 20px;
  border-radius: 20px;
}

div.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

div.buttons > button {
  width: 45%;
}

div.menu-wrapper {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

section#game {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  font-family: "Zain", sans-serif;
}

button,
select {
  background-color: #003970;
  border: solid 2px #fffcf2;
  padding: 0 30px;
  height: 60px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 20px;
  font-family: "Zain", sans-serif;
}

button.memory-card {
  height: 150px;
  width: 150px;
  background-color: #003970;
  border: solid 2px #fffcf2;
  border-radius: 20px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.memory-card > div {
  height: 100%;
  width: 100%;
  display: none;
  border-radius: 18px;
  background-size: cover;
}

/* W3S https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

div.toggle-switch {
  width: max-content;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 500px) {
  header {
    font-size: 2rem;
  }

  main {
    width: 95%;
  }

  div.banner {
    height: 200px;
  }

  button,
  select {
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
  }

  button.memory-card {
    min-width: 30px;
    border-radius: 12px;
    height: auto;
    width: auto;
    aspect-ratio: 1 / 1;
    min-width: 30px;
  }

  button.memory-card > div {
    border-radius: 10px;
  }

  section#game {
    gap: 5px;
  }

  html,
  body {
    height: fit-content;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: unset;
    min-height: fit-content;
    font-size: 20px;
    margin: 10px auto;
    padding: 0 10px 10px 10px;
  }

  section#game {
    width: 100%;
    height: fit-content;
    place-content: center;
    padding: 10px;
    min-height: 0;
  }

  div.confirmation {
    width: 70%;
  }

  div.toggle-switch > p {
    font-size: 16px;
  }

  div.menu-wrapper {
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  div.menu-wrapper > select,
  div.menu-wrapper > button#btnStart {
    flex: 1;
    min-width: 80px;
  }

  div.toggle-switch {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
  }
}
